$AcityNova_bold: "a_CityNova"; // acity/nova/bold/

$AgRevueCyr_medium: "AGRevueCyrMedium"; // ag/revue/cyr/medium/

$Airport_regular: "AirportRegular"; // airport/regular/

$Allegroscript_italic: "AllegroScriptItalic"; // allegroscript/italic/

$ArialBlack_regular: "ArialBlackRegular"; // arial/black/regular/

$ArialNarrow_bold: "arialnarrowbold"; // arial/narrow/bold/
$ArialNarrow_regular: "ArialNarrowRegular"; // arial/narrow/regular/

$AvantGardeCtt_bold: "AvantGardeCTTBold"; // avant/garde/ctt/bold/
$AvantGardeCtt_regular: "AvantGardeCTTRegular"; // avant/garde/ctt/regular/

$Awesome: "FontAwesome"; // awesome/4.4.0/

$Cambria_regular: "Cambria"; // cambria/regular/
$Cambria_regular_italic: "Conv_cambriai"; //cambria/regular/italic/
$Cambria_bold: "Conv_cambriab"; // cambria/bold/
$Cambria_bold_italic: "Conv_cambriaz"; // cambria/bold/italic/

$CenturyGothic_bold: "CenturyGothic-Bold"; // century/gothic/bold/
$CenturyGothic_bold_italic: "CenturyGothic_bold_italic"; // century/gothic/bold/italic/
$CenturyGothic_regular: "Century Gothic"; // century/gothic/regular/
$CenturyGothic_regular_italic: "CenturyGothic-Italic"; // century/gothic/regular/italic/

$Comfortaa_bold: "comfortaabold"; // comfortaa/bold/
$Comfortaa_light: "comfortaalight"; // comfortaa/light/
$Comfortaa_regular: "ComfortaaRegular"; // comfortaa/regular/

$HatoriHanzo_light: "HattoriHanzoLight"; // hatori/hanzo/light/

$Helios_black: "HeliosBlack"; // helios/black/
$Helios_black_italic: "HeliosBlackItalic"; // helios/black/italic/
$Helios_bold: "HeliosBold"; // helios/bold/
$Helios_bold_italic: "HeliosBoldItalic"; // helios/bold/italic/
$HeliosComressed: "HeliosCompressed"; // helios/compressed/
$HeliosCond_black: "HeliosCondBlack"; // helios/cond/black/
$HeliosCond_black_italic: "HeliosCondBlackItalic"; // helios/cond/black/italic/
$HeliosCond_bold: "HeliosCondBold"; // helios/cond/bold/
$HeliosCond_bold_italic: "HeliosCondBoldItalic"; // helios/cond/bold/italic/
$HeliosCond_light: "HeliosCondLight"; // helios/cond/light/
$HeliosCond_regular: "HeliosCond"; // helios/cond/regular/
$HeliosExt_thin: "HeliosExtThinRegular"; // helios/ext/thin/
$HeliosExtraComressed_regular: "HeliosExtraCompressed"; // helios/extra/compressed/
$Helios_light: "HeliosLight"; // helios/light/
$Helios_light_italic: "HeliosLightItalic"; // helios/light/italic/
$Helios_regular: "heliosc"; // helios/regular/
$Helios_regular_italic: "HeliosItalic"; // helios/regular/italic/

$HelveticaLightNormal_regular: "helvetica_lightnormal_regular"; // helvetica/light/normal/regular/

$Impact_regular: "ImpactRegular"; // impact/regular/

$Intro: "intro"; // intro/

$Lato_black: "Lato-Black"; // lato/black/
$Lato_black_italic: "Lato-BlackItalic"; // lato/black/italic/
$Lato_bold: "Lato-Bold"; // lato/bold/
$Lato_bold: "Lato-Bold"; // lato/bold/
$Lato_bold_italic: "Lato-BoldItalic"; // lato/bold/italic/
$Lato_hairline: "Lato-Hairline"; // lato/hairline/
$Lato_hairline_italic: "Lato-HairlineItalic"; // lato/hairline/italic/
$Lato_heavy: "Lato-Heavy"; // lato/heavy/
$Lato_heavy_italic: "Lato-HeavyItalic"; // lato/heavy/italic/
$Lato_light: "Lato-Light"; // lato/light/
$Lato_light_italic: "Lato-LightItalic"; // lato/light/italic/
$Lato_medium: "Lato-Medium"; // lato/medium/
$Lato_medium_italic: "Lato-MediumItalic"; // lato/medium/italic/
$Lato_regular: "Lato-Regular"; // lato/regular/
$Lato_regular_italic: "Lato-Italic"; // lato/regular/italic/
$Lato_semibold: "Lato-Semibold"; // lato/semibold/
$Lato_semibold_italic: "Lato-SemiboldItalic"; // lato/semibold/italic/
$Lato_thin: "Lato-Thin"; // lato/thin/
$Lato_thin_italic: "Lato-ThinItalic"; // lato/thin/italic/

$MyriadPro_bold: "MyriadProBold"; // myriad/pro/bold/
$MyriadPro_bold_italic: "MyriadProBoldIt"; // myriad/pro/bold/italic/
$MyriadProCond_bold: "MyriadProBoldCond"; // myriad/pro/cond/bold/
$MyriadProCond_bold_italic: "MyriadProBoldCondIt"; // myriad/pro/cond/bold/italic/
$MyriadProCond_regular: "MyriadProCond"; // myriad/pro/cond/regular/
$MyriadProCond_regular_italic: "MyriadProCondIt"; // myriad/pro/cond/regular/italic/
$MyriadPro_regular: "MyriadProRegular"; // myriad/pro/regular/
$MyriadPro_regular_italic: "MyriadProIt"; // myriad/pro/regular/italic/
$MyriadPro_semibold: "MyriadProSemibold"; // myriad/pro/semibold/
$MyriadPro_semibold_italic: "MyriadProSemiboldIt"; // myriad/pro/semibold/italic/

$PfdinDisplayPro_black: "pfdindisplayproblack"; //pfdin/display/pro/black/
$PfdinDisplayPro_black_italic: "pfdindisplayproblackit"; //pfdin/display/pro/black/italic/
$PfdinDisplayPro_bold: "PFDinDisplayProBold"; //pfdin/display/pro/bold/
$PfdinDisplayPro_bold_italic: "pfdindisplayproboldital"; //pfdin/display/pro/bold/italic/
$PfdinDisplayPro_light: "pfdindisplayprolight"; //pfdin/display/pro/light/
$PfdinDisplayPro_light_italic: "pfdindisplayprolightital"; //pfdin/display/pro/light/italic/
$PfdinDisplayPro_medium: "PFDinDisplayProMedium"; // pfdin/display/pro/medium/
$PfdinDisplayPro_medium_italic: "pfdindisplaypromedital"; // pfdin/display/pro/medium/italic/
$PfdinDisplayPro_regular: "PFDinDisplayProRegular"; // pfdin/display/pro/regular/
$PfdinDisplayPro_regular_italic: "pfdindisplayproitalic"; // pfdin/display/pro/regular/italic/
$PfdinDisplayPro_thin: "pfdindisplayprothin"; // pfdin/display/pro/thin/
$PfdinDisplayPro_thin_italic: "PFDinDisplayPro-ThinItalic"; // pfdin/display/pro/thin/italic/
$PfdinDisplayPro_x-thin: "PF DinDisplay Pro ExtraThin"; // pfdin/display/pro/x-thin/
$PfdinDisplayPro_x-thin_italic: "PFDinDisplayPro-ExtraThinItalic"; // pfdin/display/pro/x-thin/italic/

$PfdinTextCompPro_light: "Conv_pfDinTextCompPro-light"; // pfdin/text/comp/pro/light/
$PfdinTextCondPro_bold: "PFDinTextCondProBold"; // pfdin/text/cond/pro/bold/
$PfdinTextCondPro_medium: "PFDinTextCondProMedium"; // pfdin/text/cond/pro/medium/
$PfdinTextCondPro_regular: "PFDinTextCondPro"; // pfdin/text/cond/pro/regular/

$Roboto_black: "Conv_Roboto_black"; // roboto/black/
$Roboto_black_italic: "Conv_Roboto_black_italic"; // roboto/black/italic/
$Roboto_bold: "Conv_Roboto_bold"; // roboto/bold/
$Roboto_bold_italic: "Conv_Roboto_bold_italic"; // roboto/bold/italic/
$Roboto_light: "Conv_Roboto_light"; // roboto/light/
$Roboto_light_italic: "Conv_Roboto_light_italic"; // roboto/light/italic/
$Roboto_medium: "Conv_Roboto_medium"; // roboto/medium/
$Roboto_medium_italic: "Conv_Roboto_medium_italic"; // roboto/medium/italic/
$Roboto_regular: "RobotoRegular-Regular"; // roboto/regular/
$Roboto_regular_italic: "Conv_Roboto_regular_italic"; // roboto/regular/italic/
$Roboto_thin: "Conv_Roboto_thin"; // roboto/thin/
$Roboto_thin_italic: "Roboto-ThinItalic"; // roboto/thin/italic/

$RobotoCondensed_bold: "Conv_RobotoCondensed_bold"; // roboto/condensed/bold/
$RobotoCondensed_bold_italic: "Conv_RobotoCondensed_bold_italic"; // roboto/condensed/bold/italic/
$RobotoCondensed_light: "Conv_RobotoCondensed_light"; // roboto/condensed/light/
$RobotoCondensed_light_italic: "Conv_RobotoCondensed_light_italic"; // roboto/condensed/light/italic/
$RobotoCondensed_regular: "Conv_RobotoCondensed_regular"; // roboto/condensed/regular/
$RobotoCondensed_regular_italic: "Conv_RobotoCondensed_regular_italic"; // roboto/condensed/regular/italic/

$RodeoExtra_bold: "Conv_Rodeo_extra_bold"; // rodeo/extra/bold/

$Romul_regular: "Conv_Romul_regular"; // romul/regular/

$Sansation_bold: "Conv_Sansation_bold"; // sansation/bold/
$Sansation_bold_italic: "Conv_Sansation_bold_italic"; // sansation/bold/italic/
$Sansation_light: "Conv_Sansation_light"; // sansation/light/
$Sansation_light_italic: "Conv_Sansation_light_italic"; // sansation/light/italic/
$Sansation_regular: "Conv_Sansation_regular"; // sansation/regular/
$Sansation_regular_italic: "Conv_Sansation_regular_italic"; // sansation/regular/italic/

$SegoePrint_regular: "Conv_SegoePrint_regular"; // segoe/print/regular/

$SegoeUi_bold: "SegoeUIBold-Regular"; // segoe/ui/bold/
$SegoeUi_light: "Conv_SegoeUi_light"; // segoe/ui/light/

$SfUiText_bold: "Conv_SF-UI-Text-Bold"; // sf/ui/text/bold/
$SfUiText_bold_italic: "Conv_SF-UI-Text-BoldItalic"; // sf/ui/text/bold/italic/
$SfUiText_heavy: "Conv_SF-UI-Text-Heavy"; // sf/ui/text/heavy/
$SfUiText_heavy_italic: "Conv_SF-UI-Text-HeavyItalic"; // sf/ui/text/heavy/italic/
$SfUiText_light: "Conv_SF-UI-Text-Light"; // sf/ui/text/light/
$SfUiText_light_italic: "Conv_SF-UI-Text-LightItalic"; // sf/ui/text/light/italic/
$SfUiText_medium: "Conv_SF-UI-Text-Medium"; // sf/ui/text/medium/
$SfUiText_medium_italic: "Conv_SF-UI-Text-MediumItalic"; // sf/ui/text/medium/italic/
$SfUiText_regular: "SFUIText-Regular"; // sf/ui/text/regular/
$SfUiText_regular_italic: "SFUIText-RegularItalic"; // sf/ui/text/regular/italic/
$SfUiText_semibold: "Conv_SF-UI-Text-Semibold"; // sf/ui/text/semibold/
$SfUiText_semibold_italic: "Conv_SF-UI-Text-SemiboldItalic"; // sf/ui/text/semibold/italic/

$SvBasicManual_bold: "Conv_SvBasicManual_bold"; // sv/basic/manual/bold/
$SvBasicManual_regular: "Conv_SvBasicManual_regular"; // sv/basic/manual/regular/

$Trajan_bold: "Conv_Trajan_bold"; // trajan/bold/
$Trajan_medium: "Conv_Trajan_medium"; // trajan/medium/
$Trajan_regular: "Conv_Trajan_regular"; // trajan/regular/

$Verdana_regular: "Conv_Verdana_regular"; // verdana/regular/
