$body-font-family: "Arial", "Helvetica", Arial, Helvetica, sans-serif !default;

$row-width: 1280px !default;
$column-gutter: rem-calc(20) !default;
$total-columns: 24 !default;

$block-grid-elements: 24 !default;
$block-grid-default-spacing: rem-calc(10) !default;

$lineHeight: rem(16) !default;

$spaceBetweenBlocks: rem(20) !default;

$inputHeight: rem(35) !default;
