@import 'SCSS/wanted';

.yam-counter {
	position: relative;
	padding: 0 rem(35);
	@include user-select(none);

	[type='text'] {
		height: rem(35);
		outline: none;
		text-align: center;
	}

	[type='hidden'] {
		display: none;
	}

	.control {
		position: absolute;
		top: 0;
		bottom: 0;
		width: rem(35);
		z-index: 1;
		overflow: hidden;
		cursor: pointer;

		&:after {
			display: table-cell;
			width: rem(35);
			height: rem(35);
			vertical-align: middle;
			text-align: center;
			line-height: 0;
			@include single-transition;
		}

		&.prev {
			left: 0;
			&:after {
				@include fa($fa-chevron-left);
			}

			&:hover {
				&:after {
					@include translateX(-3px);
				}
			}
		}

		&.next {
			right: 0;
			&:after {
				@include fa($fa-chevron-right);
			}

			&:hover {
				&:after {
					@include translateX(3px);
				}
			}
		}

		&.disactive {
			opacity: .3;
			// @include pointer-events(none);
		}
	}
}
